body{
    color: #FFFFFF;
    background-color: #444444;
    font-family: sans-serif;
}

header{
    align-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,.5);
    color: #FFFFFF;
    text-align: center;
    width: 100%;
  }
  
.titulo{
    font-size: 30px;
    color: #FFFFFF;
}

#juego{
    background-color: #444444;
    border-radius: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    padding-top: 15px;
    padding-left: -2em;
    padding-right: -2em;
    position: relative;
}

.neon:before, .neon:after{
    content: '';
    position: absolute;
    border-radius: 1.5em;
    top: -5px;
    left: -5px;
    background: linear-gradient(45deg, #ff0000, #FF6600, #09ff00, #41e9ff, #0000FF, #FF00FF, #FF0099, #FF0000, #FF6600);
    background-size: 400%;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    z-index: -1;
    animation: animar 21s linear infinite;
}

@keyframes animar{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.neon::after{
    filter: blur(42px);
}

.caja{
    width: 15em;
}

h4{
    margin-left: 25px;
}

li{
    align-items: left;
    display: flex;
    height: 2em;
    justify-content: space-between;
}

.pasar{
    border: 0;
    background: none;
    border: 2px solid #33ff00;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: 0.25s;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
  }
  
.pasar:hover{
    background: #9eff85;
    box-shadow: 0 0 10px #9eff85, 0 0 40px #9eff85, 0 0 80px #9eff85;
    color: gray;
    transition-delay: 0s;
}

.reintentar{
    border: 0;
    background: none;
    border: 2px solid #00c3ff;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: 0.25s;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
}
  
.reintentar:hover{
    background: #73deff;
    box-shadow: 0 0 10px #73deff, 0 0 40px #73deff, 0 0 80px #73deff;
    color: white;
    transition-delay: 0s;
}

.reiniciar{
    border: 0;
    background: none;
    border: 2px solid #ff0000;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: 0.25s;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
}
  
.reiniciar:hover{
    background: #ff6060;
    box-shadow: 0 0 10px #ff6060, 0 0 40px #ff6060, 0 0 80px #ff6060;
    color: white;
    transition-delay: 0s;
}

.modal{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-container {
    width: 700px;
    margin: auto;
    margin-top: 7em;
    padding: 20px 30px;
    background-color: #444444;
    border-radius: 2em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
  }

  .modal-button{
    border: 0;
    background: none;
    border: 2px solid #DDDDDD;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: 0.25s;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
  }

  .modal-button:hover{
    background-color: #FFFFFF;
    color: #444444;
    transition-delay: 0s;
}