body{
    color: #FFFFFF;
    background-color: #444444;
    font-family: sans-serif;
}

header{
    align-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,.5);
    color: #FFFFFF;
    text-align: center;
    width: 100%;
  }
  
.titulo{
    font-size: 30px;
    color: #FFFFFF;
}

#juego{
    border: 3px #FFFFFF double;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    padding-top: 15px;
}

.caja{
    align-items: center;
    width: 18em;
}

li{
    height: 2em;
}