<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
    <link rel="stylesheet" href="css/estilos.css">
    <title>ORDE-NAME</title>
</head>
<body>
    <header>
        <h1 class="titulo">ORDE-NAME</h1>
      </header>

      <div id="juego" class="neon">
        <div v-if="showModal" class="modal">
          <div class="modal-container">
            <h4>Bienvenido a ORDE-NAME</h4>
            <hr>
            <p> El objetivo del juego es crear un lista de nombres en orden alfabético.  </p>
            <h5>Reglas de juego:</h5>
            <ul>
              <li>Se verificará el orden una vez se hayan pasado todos los nombres a la lista.</li><br>
              <li>Se mostrarán mensajes correspondientes al orden en la sección "ESTADO".</li><br>
              <li>Se guardará su récord una vez se haya terminado de ordenar, el mismo podrá superarse volviendo a jugando.</li><br>
            </ul><br>
            <button class="modal-button" v-on:click="showModal = false"> Entendido </button>
          </div>
        </div>
          <div class="caja">
              <h4>NOMBRES</h4>
              <hr>
            <ul>
                <li v-for="(persona, index) in personas">
                  <p>{{ persona }}</p>  <button class="pasar" v-if="habilitado[index]" v-on:click="pasar(persona)"> → </button>
                </li>
            </ul>
          </div>

          <div class="caja">
            <h4>TU ORDEN</h4>
            <hr>
            <ul>
                <li v-for="result in resultado">
                    {{ result }}
                </li>
            </ul>
          </div>

          <div class="caja">
            <h4>ESTADO</h4>
            <hr>
              <p> {{ estado }} </p>
              <p> {{ mensaje }} </p>
              <p> Errores: {{ errores }} </p>
              <p> {{ mensaje_error }} </p>
              <button class="reintentar" v-on:click="mostrarReglas">Reglas de Juego</button> <br><br>
              <button class="reiniciar" v-on:click="rejugar" v-if="(mensaje === mensaje_ordenado)">Rejugar ⟳</button>
          </div>
      </div>

    <script src="../vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/juego.js"></script>
</body>
</html>