body{
    font-family: sans-serif;
}

#contenedor{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}

.baraja{
    border: 1px solid #444;
    height: 50px;
    width: 50px;
    margin: auto;
}
.baraja > p{
    font-weight: bold;
    margin: auto;
}
.baraja:hover{
    cursor: pointer;
}

tr,td{
    border: 1px solid #444;
    height: 2em;
    /* padding: 2px; */
    text-align: center;
    width: 2em;
}

